:root {
    -accent-color: #2196F3;
    --the-second-color: #FFFFFF;
    }

body {font-family: 
}

/*шапка*/

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    }

.list :hover,
.list :focus {
    color: #2196F3;
}


/* WebStudio */
.logo{font-weight: 700;
font-size: 26px;
line-height: 0,83;
/* identical to box height */

letter-spacing: 0.03em;
        
    color: #2196F3;
}
.logo-accent {
    
    color: #212121;
}
/* контакти */
.studio { font-weight: 500;
font-size: 14px;
line-height: 0.87;
letter-spacing: 0.02em;
    
    color: #2196F3;
}
.portfo {
    font-weight: 500;
font-size: 14px;
line-height: 087,;
letter-spacing: 0.02em;
      
    color: #212121;
}
.contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0,87px;
    letter-spacing: 0.02em;
    
    color: #212121;
}
.mail { font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 0,87;
letter-spacing: 0.02em;

color: #2196F3;

}
.telefon {font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 0,87;
letter-spacing: 0.02em;

color: #757575;
}
/* секція для замовлення послуги */
.section {
              
        background: #2F303A;
}
.section-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 0,73;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.buttons {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/*особливості*/
/*прихований заголовок*/
.specifics {
    color: #FFFFFF;
}
/*прибрані кнопки*/
.list-specifics{
        list-style: none;
    }
.list-work{
    list-style: none;}

/*заголовки*/

.advantage {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 0,87;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
/*абзац особливостей*/
.description-advantage {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 0,84;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
}
/*чим займаємося*/
.work {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 0,85;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.work-img{
    list-style: none;
}

/*команда*/
.work-team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 0,85;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.work-title {
    list-style: none;
}
.name-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 0,84;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.work-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0,84;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
}

footer {
    
    
    background: #2F303A;
}
.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.logo-footer-white{      
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    }
    .list-footer {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1,71;
        /* or 171% */
        
        letter-spacing: 0.03em;
        
        color: #FFFFFF;
        list-style: none;
    }
    .mail-footer{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1,71;
        /* or 171% */
        
        letter-spacing: 0.03em;
        
        color: rgba(255, 255, 255, 0.6);

    }
    .phone-footer{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1,71;
        /* or 171% */
        
        letter-spacing: 0.03em;
        
        color: rgba(255, 255, 255, 0.6);
    }


/* ПОРТФОЛІО */
.button-all {
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    
    background: #2196F3;
    /* shadow-middle */
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.services {
    color: #FFFFFF;
}
.list-services {
    list-style: none
}
.name-services {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    
    color: #212121;
}